.App {
  height: 100vh;
  width: 100vw;
  /* text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
}


header {
  background-color: #282c34;
  height: 10vh;
   
  /* font-size: calc(10px + 2vmin); */
  color: white;
  text-align: center;
}

.header__button {
  position: absolute;
  left: 0;
  top: 0;
  height: 10vh;
  width: 10vw;
  text-align: left;

  background-color: #282c34;
  border: none;
}

.header__icon{
  margin-left: 10%;
  font-size: 3em;
  color: aqua;
}

.header__title{
  display: inline;
  background-color: greenyellow;
  line-height: 10vh;
}


main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  
  height: 90vh;
}

form{
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.Card{
  margin: 10px 0 10px 0;
  max-width: 50%;
}

/* cadetblue */