body{
  background-color: whitesmoke;
}

.App {
  height: 100vh;
  width: 100vw;
  
}

footer{
  height: 30px;
  width: 100%;
  background-color: #282c34;
  color: #C9E3E3;
  text-align: center;
  line-height: 30px;
  font-weight: lighter;
}
header {
  background-color: #282c34;
  height: 10vh;
  width: 100%;
   
  color: #C9E3E3;
  text-align: center;
}

.header__button {
  position: absolute;
  left: 0;
  top: 0;
  height: 10vh;
  width: 10vw;
  text-align: left;

  background-color: #282c34;
  border: none;
}

.header__icon{
  margin-left: 10%;
  font-size: 3em;
  color: #C9E3E3;
}

.header__title{
  display: inline;
  /* background-color: #C9E3E3; */
  line-height: 10vh;
}

h2{
  background-color: #C9E3E3;
}


main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 83.5%;
}

form{
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.Card{
  margin: 10px 0 10px 0;
  width: 50%;
}

