:root {
    --rhythm: 24px;
    color: #282c34;
}

body {
    background-size: 10000px var(--rhythm);
    font-family: 'Gentium Basic', serif;
    color: #282c34;
    font-size: 1.2rem;
    background-color: whitesmoke;
}

.App {
    height: 100vh;
    width: 100vw;
}

header {
    background-color: #282c34;
    height: 10vh;
    width: 100%;
    color: #C9E3E3;
    text-align: center;
}

#header__button {
    position: absolute;
    left: 0;
    top: 0;
    height: 10vh;
    width: 10vw;
    text-align: left;
    background-color: #282c34;
    border: none;
}

.header__icon {
    margin-left: 10%;
    font-size: 3em;
    color: #C9E3E3;
}

.header__title {
    display: inline;
    /* background-color: #C9E3E3; */
    line-height: 10vh;
}

h1 {
    font-family: 'Playfair Display', serif;
    color: #C9E3E3;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 83.5%;
}

.startGame {
    outline: none;
    background-color: #282c34;
    color: #C9E3E3;
    height: 50px;
    width: 150px;
    font-weight: bolder;
    font-size: 1.5rem;
    border-radius: 7px;
    border: none;
    box-shadow: 0 0 6px 6px #C9E3E3;
    transition: all 0.5s ease;
}

.start{
  margin-top: calc(5 * var(--rhythm));
}

.startGame:focus,
.startGame:hover {
    background-color: #C9E3E3;
    color: #282c34;
    transition: all 0.5s ease;
}

form {
    width: 80%;
    padding: var(--rhythm);
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
  padding: var(--rhythm);
  margin: var(--rhythm);
  border: 2px solid #282c34;
  border-radius: 7px;
  width: 50%;
}


h2 {
    margin-block-start: -10px;
    margin-block-end: var(--rhythm);
    font-family: 'Playfair Display', serif;
    font-size: 1.4rem;
}

fieldset {
    padding: var(--rhythm);
    margin: var(--rhythm);
    border: 2px solid #282c34;
    border-radius: 7px;
    width: 50%;
}

fieldset:focus-within{
  border: 2px solid #C9E3E3;
}

legend {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    /* background-color: blue; */
}

input[type="radio"] {
    opacity: 0;
}

input[type="radio"]+label {
    content: "";
    display: block;
    cursor: pointer;
    height: auto;
    width: 100%;
    border-radius: 7px;
    padding-left: calc(0.5 * var(--rhythm));
}

input[type="radio"]:focus+label {
  background-color: #C9E3E3;
}

input[type="radio"]:hover+label {
  background-color: #C9E3E3;
}

input[type="radio"]:checked+label {
    background-color: #282c34;
    color: #C9E3E3;
    font-weight: 700;
}

.modal{
  /* background-color: red; */
}
.popUp{
  display: flex;
  /* flex-direction: column; */
  align-content: center;
  /* justify-content: center; */

  position: relative;
  left: 20%;
  top:25%;
  background-color: whitesmoke;
}

@media (max-width:950px) {
  fieldset {
        min-width: 310px;
    }
}