.Nav{
    background-color: #282c34;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 25vw;

    display: flex;
    flex-direction: column;
    padding: 30px 30 70px  0;

    transition: width 1s ease-in-out;
    
}

.Nav a {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 1.5rem;
    margin: 25% 0 10px 5%;
    color: #C9E3E3;
    padding: 15px 20px;
    border-radius: 7px 0 0 7px;
}

.Nav a:focus{
    background-color: #C9E3E3;
    color: #282c34;
    font-weight: 700;
}

.Nav a:active{
    background-color: #C9E3E3;
    color: #282c34;
    font-weight: 700;
}

@media (max-width: 500px){  
    .Nav{
        width: 35vw;
        transition: all 1s ease-in-out;
    }

}